<highcharts-chart *ngFor="let chart of chartOptions"
                  [Highcharts] = "highcharts"
                  [options] = "chart._source"
                  style = "width: 50%; height: 400px; display: block;">
</highcharts-chart>
<div id="container-speed" class="chart-container"></div>
<router-outlet></router-outlet>
